.k-slider-vertical .k-slider-topleft .k-tick-large.k-last{
	background-position:-32px 0;
}
.k-slider-vertical .k-slider-bottomright .k-last{
	background-position:-152px 0;
}
.k-slider-vertical .k-slider-bottomright .k-tick-large.k-last{
	background-position:-62px 0;
}
.k-slider-vertical .k-tick{
	text-align:right;
}
.k-slider-vertical .k-slider-topleft .k-tick{
	text-align:left;
}
.k-slider .k-label{
	position:absolute;
	white-space:nowrap;
	font-size:0.92em;
}
.k-slider-horizontal .k-label{
	left:0;
	width:100%;
	line-height:1;
}
.k-slider-horizontal .k-first .k-label{
	left:-50%;
}
.k-slider-horizontal .k-last .k-label{
	left:auto;
	right:-50%;
}
.k-slider-horizontal .k-label{
	bottom:-1.2em;
}
.k-slider-horizontal .k-slider-topleft .k-label{
	top:-1.2em;
}
.k-slider-vertical .k-label{
	left:120%;
	display:block;
	text-align:left;
}
.k-slider-vertical .k-last .k-label{
	top:-0.5em;
}
.k-slider-vertical .k-first .k-label{
	bottom:-0.5em;
}
.k-slider-vertical .k-slider-topleft .k-label{
	left:auto;
	right:120%;
}
.k-slider-tooltip{
	top:-4444px;
}
.k-scheduler-toolbar,.k-scheduler-footer{
	border-style:solid;
}
.k-scheduler-toolbar,.k-scheduler-footer{
	line-height:28px;
	padding:6px;
}
.k-scheduler-toolbar{
	border-width:0 0 1px;
}
.k-edit-field.k-scheduler-toolbar{
	border-width:0;
	padding-top:0;
	padding-left:0;
	padding-right:0;
}
.k-scheduler-header{
	text-align:center;
}
.k-scheduler-footer{
	border-width:1px 0 0;
}
.k-scheduler-toolbar>ul{
	float:right;
}
.k-scheduler-toolbar>ul:first-child{
	float:left;
}
.k-scheduler-toolbar>ul>li,.k-scheduler-footer>ul>li{
	display:inline-block;
	border-style:solid;
	border-width:1px 1px 1px 0;
}
.k-scheduler .k-scheduler-toolbar .k-nav-current{
	border-width:0;
}
.k-scheduler-toolbar>ul>li:first-child{
	border-left-width:1px;
}
.k-scheduler div.k-scheduler-footer ul li{
	margin-right:0.6em;
	border-width:1px;
}
.k-scheduler-toolbar .k-link,.k-scheduler-footer .k-link{
	display:inline-block;
	padding:0 1.1em;
}
.k-scheduler-toolbar .k-nav-prev .k-link,.k-scheduler-toolbar .k-nav-next .k-link{
	padding-left:0.6em;
	padding-right:0.6em;
}
.k-ie7 .k-scheduler-toolbar .k-nav-prev .k-link,.k-ie7 .k-scheduler-toolbar .k-nav-next .k-link{
	height:2.3em;
	margin-top:-1px;
	vertical-align:middle;
}
.k-ie7 .k-scheduler-toolbar .k-nav-prev .k-link .k-icon,.k-ie7 .k-scheduler-toolbar .k-nav-next .k-link .k-icon{
	margin-top:0.5em;
}
.k-scheduler-toolbar .k-nav-current .k-link{
	padding:0;
}
.k-scheduler-toolbar .k-nav-current{
	margin:0 1.1em;
}
.k-scheduler div.k-scheduler-toolbar>ul>li.k-nav-current,.k-scheduler .k-nav-current>.k-state-active{
	background:0;
}
.k-scheduler-phone .k-scheduler-toolbar+.k-scheduler-toolbar .k-scheduler-navigation{
	width:100%;
	text-align:center;
}
.k-scheduler-phone .k-scheduler-toolbar+.k-scheduler-toolbar .k-scheduler-navigation>li{
	background:0;
	border:0;
}
.k-scheduler-phone .k-toolbar .k-nav-next{
	float:right;
}
.k-scheduler-phone .k-toolbar .k-nav-prev{
	float:left;
}
.k-scheduler-toolbar .k-i-calendar,.k-scheduler-footer .k-icon{
	margin:-2px 6px 0 0;
}
.k-scheduler-header,.k-scheduler-header-wrap{
	overflow:hidden;
}
.k-scheduler-header-wrap{
	position:relative;
	border-style:solid;
	border-width:0;
}
.k-scheduler .k-scrollbar-v .k-scheduler-header-wrap{
	border-right-width:1px;
}
.k-scheduler-times,.k-scheduler-content{
	position:relative;
}
.k-scheduler-times{
	overflow:hidden;
	white-space:nowrap;
	border-style:solid;
	border-width:0;
}
.k-scheduler-content{
	overflow:auto;
}
.k-scheduler-layout,.k-scheduler-table{
	border-spacing:0;
	width:100%;
	margin:0;
	border-collapse:separate;
}
.k-ie7 .k-scheduler-content .k-scheduler-table{
	width:auto;
}
.k-scheduler-layout>tbody>tr>td{
	padding:0;
	vertical-align:top;
}
.k-safari .k-scheduler-layout>tbody>tr>td+td{
	width:100%;
}
.k-scheduler-table{
	table-layout:fixed;
}
.k-scheduler-times .k-scheduler-table{
	table-layout:auto;
}
.k-scheduler-monthview .k-scheduler-content .k-scheduler-table{
	height:100%;
}
.k-scheduler-table td,.k-scheduler-table th{
	height:1.5em;
	padding:0.334em 0.5em;
	font-size:100%;
}
.k-scheduler .k-scheduler-table td,.k-scheduler .k-scheduler-table th{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.k-scheduler-monthview .k-hidden,.k-scheduler-monthview .k-hidden>div{
	width:0 !important;
	overflow:hidden !important;
}
.k-scheduler-monthview .k-hidden{
	height:60px;
	padding-left:0 !important;
	padding-right:0 !important;
	border-right-width:0 !important;
}
.k-scheduler-monthview>tbody>tr:first-child .k-scheduler-times{
	margin-right:1px;
}
.k-scheduler-monthview>tbody>tr:first-child .k-scheduler-times .k-hidden{
	height:auto;
}
.k-scheduler-monthview .k-scheduler-table td{
	height:80px;
	text-align:right;
}
.k-scheduler-phone .k-scheduler-monthview .k-scheduler-table td{
	height:40px;
}
.k-scheduler-table td,.k-slot-cell{
	vertical-align:top;
}
.k-scheduler-layout tr+tr .k-scheduler-times th:last-child{
	vertical-align:top;
}
.k-scheduler-phone .k-scheduler-monthview .k-scheduler-table td{
	text-align:center;
	vertical-align:middle;
}
.k-scheduler-phone .k-scheduler-monthview .k-scheduler-table td span{
	font-size:1.5em;
}
.k-scheduler-header th{
	overflow:hidden;
	text-overflow:ellipsis;
}
.k-scheduler-table td,.k-scheduler-header th{
	border-style:solid;
	border-width:0 0 1px 1px;
}
.k-scheduler-table td:first-child,.k-scheduler-header th:first-child{
	border-left-width:0;
}
.k-scheduler-agendaview .k-scheduler-table td:first-child{
	border-left-width:1px;
}
.k-scheduler-agendaview .k-scheduler-table td.k-first{
	border-left-width:0;
}
.k-scheduler-layout tr+tr .k-scheduler-times tr:last-child>th,.k-scheduler-layout tr+tr .k-scheduler-table>tbody>tr:last-child>td,.k-scheduler-table>tbody>tr>.k-last{
	border-bottom-width:0;
}
.k-scrollbar-h tr+tr .k-scheduler-times,.k-scrollbar-h .k-scheduler-content .k-scheduler-table>tbody>tr:last-child>td,.k-scheduler-agendaview.k-scrollbar-h .k-scheduler-table>tbody>tr>td.k-last{
	border-bottom-width:1px;
}
.k-scheduler-times th{
	text-align:right;
	padding-right:0.6em;
	border-style:solid;
	border-width:0 1px 1px 0;
	border-color:transparent;
}
.k-scheduler-layout tr+tr .k-scheduler-times th{
	border-bottom-color:transparent;
}
.k-scheduler-layout tr+tr .k-scheduler-times th.k-slot-cell,.k-scheduler-layout tr+tr .k-scheduler-times th.k-scheduler-times-all-day{
	border-bottom-color:inherit;
}
.k-scheduler .k-middle-row td{
	border-bottom-style:dotted;
}
.k-scheduler-now-arrow,.k-scheduler-now-line{
	position:absolute;
}
.k-scheduler-now-arrow{
	width:0;
	height:0;
	border:solid 5px transparent;
	left:0;
}
.k-scheduler-now-line{
	left:5px;
	right:0;
	height:1px;
}
.k-task{
	position:relative;
}
div.k-more-events{
	text-align:center;
	font-size:18px;
	line-height:1.2;
	padding:0;
}
.k-more-events>span{
	display:block;
	margin-top:-0.6em;
}
.k-event,.k-more-events{
	position:absolute;
	border-style:solid;
	border-width:1px;
	text-align:left;
	overflow:hidden;
}
.k-event{
	cursor:default;
	min-height:1.3em;
}
.k-event-drag-hint{
	filter:alpha(opacity=60);
	opacity:0.6;
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
}
.k-scheduler-header .k-event{
	white-space:nowrap;
}
.k-event-template{
	padding:0.3em 1.4em 0.3em 0.6em;
}
.k-event-time{
	display:none;
	padding-bottom:0;
	font-size:0.9em;
}
.k-event-drag-hint .k-event-time{
	display:block;
}
.k-event-actions,.k-event>.k-link,.k-task>.k-link{
	position:absolute;
	top:3px;
	right:4px;
	white-space:nowrap;
}
.k-event-actions{
	z-index:1;
}
.k-scheduler-agendaview .k-task>.k-link{
	top:0;
	right:0;
}
.k-event-actions:first-child{
	position:static;
	float:left;
	margin:4px 2px 0 4px;
}
.k-webkit .k-event-actions:first-child{
	margin-top:3px;
}
.k-event-actions:first-child>.k-link{
	display:inline-block;
}
.k-event-delete{
	display:none;
}
.k-event:hover .k-event-delete,tr:hover>td>.k-task .k-event-delete{
	display:inline-block;
}
.k-event .k-event-top-actions,.k-event .k-event-bottom-actions{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
}
.k-event .k-event-bottom-actions{
	top:auto;
	bottom:0;
}
.k-event .k-resize-handle,.k-scheduler-mobile .k-event:hover .k-resize-handle{
	position:absolute;
	visibility:hidden;
	z-index:2;
}
.k-event:hover .k-resize-handle,.k-event-active .k-resize-handle,.k-scheduler-mobile .k-event-active:hover .k-resize-handle{
	visibility:visible;
}
.k-event .k-resize-handle:after{
	content:'';
	position:absolute;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.k-scheduler-mobile .k-event .k-resize-handle:after{
	filter:none;
	opacity:1;
}
.k-event>.k-resize-n{
	top:0;
	left:0;
	right:0;
	height:0.4em;
}
.k-event>.k-resize-s{
	bottom:0;
	left:0;
	right:0;
	height:0.4em;
}
.k-event>.k-resize-e{
	right:0;
	top:0;
	bottom:0;
	width:0.4em;
}
.k-event>.k-resize-w{
	left:0;
	top:0;
	bottom:0;
	width:0.4em;
}
.k-event>.k-resize-n:after,.k-event>.k-resize-s:after{
	top:1px;
	left:50%;
	margin-left:-1em;
	width:2em;
	height:1px;
}
.k-event>.k-resize-s:after{
	top:auto;
	bottom:1px;
}
.k-event>.k-resize-e:after,.k-event>.k-resize-w:after{
	left:1px;
	top:50%;
	margin-top:-0.7em;
	height:1.4em;
	width:1px;
}
.k-event>.k-resize-e:after{
	left:auto;
	right:1px;
}
.k-scheduler-mobile .k-event>.k-resize-n,.k-scheduler-mobile .k-event>.k-resize-s{
	height:0.6em;
}
.k-scheduler-mobile .k-event>.k-resize-e,.k-scheduler-mobile .k-event>.k-resize-w{
	width:0.6em;
}
.k-scheduler-mobile .k-event>.k-resize-n:after,.k-scheduler-mobile .k-event>.k-resize-s:after{
	top:0;
	margin-left:-3em;
	width:4em;
	height:0.6em;
}
.k-scheduler-mobile .k-event>.k-resize-s:after{
	bottom:0;
}
.k-scheduler-mobile .k-event>.k-resize-e:after,.k-scheduler-mobile .k-event>.k-resize-w:after{
	left:0;
	margin-top:-0.7em;
	height:1.4em;
	width:0.6em;
}
.k-scheduler-mobile .k-event>.k-resize-e:after{
	right:0;
}
.k-scheduler-mobile .k-event>.k-resize-n:after{
	border-radius:0 0 4px 4px;
}
.k-scheduler-mobile .k-event>.k-resize-s:after{
	border-radius:4px 4px 0 0;
}
.k-scheduler-mobile .k-event>.k-resize-w:after{
	border-radius:0 4px 4px 0;
}
.k-scheduler-mobile .k-event>.k-resize-e:after{
	border-radius:4px 0 0 4px;
}
.k-scheduler-phone .k-scheduler-monthview .k-events-container{
	position:absolute;
	text-align:center;
	height:6px;
	line-height:6px;
}
.k-scheduler-phone .k-scheduler-monthview .k-event{
	position:static;
	display:inline-block;
	width:4px;
	height:4px;
	min-height:0;
	margin:1px;
}
.k-scheduler-marquee{
	border-style:solid;
	border-width:0;
}
.k-scheduler-marquee.k-first:before,.k-scheduler-marquee.k-last:after{
	content:'';
	position:absolute;
	width:0;
	height:0;
	border-style:solid;
	border-width:3px;
}
div.k-scheduler-marquee:before{
	top:0;
	left:0;
	border-right-color:transparent;
	border-bottom-color:transparent;
}
div.k-scheduler-marquee:after{
	bottom:0;
	right:0;
	border-top-color:transparent;
	border-left-color:transparent;
}
.k-scheduler-marquee .k-label-top{
	position:absolute;
	top:0.3em;
	left:0.8em;
	font-size:0.8em;
}
.k-scheduler-marquee .k-label-bottom{
	position:absolute;
	bottom:0.3em;
	right:0.81em;
	font-size:0.8em;
}
.k-scheduler-quickedit .k-textbox{
	width:200px;
}
.k-tooltip-bottom{
	text-align:left;
}
.k-tooltip-bottom .k-button{
	float:left;
	margin-right:0.3em;
}
.k-tooltip-bottom .k-quickedit-details{
	float:right;
	margin-right:0;
}
.k-scheduler-agendaview .k-scheduler-table th,.k-scheduler-agendaview .k-scheduler-table td{
	text-align:left;
}
.k-scheduler-times .k-slot-cell,.k-scheduler-groupcolumn{
	width:6em;
}
.k-scheduler-datecolumn{
	width:12em;
}
.k-scheduler-timecolumn{
	width:11em;
}
.k-scheduler-timecolumn>div{
	position:relative;
	vertical-align:top;
}
.k-webkit .k-scheduler-timecolumn>div>.k-icon{
	vertical-align:top;
}
.k-scheduler-timecolumn>div>.k-i-arrow-e{
	position:absolute;
	right:-4px;
}
.k-scheduler-timecolumn .k-i-arrow-w{
	margin-left:-4px;
}
.k-scheduler-mark{
	display:inline-block;
	width:1em;
	height:1em;
	vertical-align:middle;
	margin-right:0.5em;
}
.k-scheduler-agendaday{
	float:left;
	margin:0 0.2em 0 0;
	font-size:3em;
	font-weight:normal;
}
.k-scheduler-agendaweek{
	display:block;
	margin:0.4em 0 0;
	font-size:1.1em;
	font-style:normal;
}
.k-scheduler-agendadate{
	font-size:0.8em;
}
.k-scheduler-timecolumn{
	white-space:nowrap;
}
.k-scheduler-edit-form .k-edit-form-container,.k-scheduler-timezones .k-edit-form-container{
	width:520px;
}
.k-scheduler-edit-form .k-edit-label{
	width:17%;
}
.k-scheduler-edit-form .k-edit-field{
	width:77%;
}
.k-scheduler-edit-form .k-textbox[name="title"],.k-scheduler-edit-form textarea.k-textbox{
	width:100%;
}
.k-scheduler-edit-form textarea.k-textbox{
	min-height:4em;
	resize:vertical;
}
.k-scheduler-edit-form>.k-edit-box:first-child .k-datetimepicker{
	margin-right:1em;
}
.km-pane-wrapper .k-scheduler-edit-form .k-edit-buttons{
	clear:right;
	margin-right:2%;
	margin-left:2%;
	padding:0 0 0.6em;
}
.k-edit-box{
	float:left;
}
.k-edit-box+.k-edit-box{
	float:right;
}
.k-scheduler-edit-form label+input{
	margin-left:1em;
}
.k-edit-field>ul.k-reset>li{
	margin:0.2em 0 0.4em;
	line-height:2.4;
}
.k-edit-field>ul.k-reset.k-toolbar>li{
	margin:0;
}
.k-edit-field>ul.k-reset .k-widget{
	margin-left:0.8em;
}
.k-edit-field>ul.k-reset .k-numerictextbox,.k-edit-field span.k-recur-interval{
	width:5em;
}
.k-edit-field>ul.k-reset .k-dropdown,.k-edit-field>ul.k-reset .k-datepicker,div[name="recurrenceRule"]>.k-dropdown{
	width:9em;
}
.k-popup-message{
	margin:0;
	padding:1em 0 2em;
	text-align:center;
}
.k-scheduler-timezones .k-dropdown:first-child{
	width:100%;
}
.k-scheduler-timezones .k-dropdown+.k-dropdown{
	margin:0.5em 0 0.7em;
}
.k-scheduler .k-current-time{
	background:#F00;
	height:1px;
	position:absolute;
	right:1px;
	left:0;
}
.k-tooltip{
	position:absolute;
	z-index:12000;
	border-style:solid;
	border-width:1px;
	padding:4px 5px 4px 6px;
	background-repeat:repeat-x;
	min-width:20px;
	text-align:center;
}
.k-tooltip-button{
	text-align:right;
	height:0;
}
.k-tooltip-content{
	height:100%;
}
.k-tooltip-closable .k-tooltip-content{
	padding-right:20px;
}
span.k-tooltip{
	position:static;
	display:inline-block;
	border-width:1px;
	padding:2px 5px 1px 6px;
}
.k-invalid-msg{
	display:none;
}
.k-callout{
	position:absolute;
	width:0;
	height:0;
	border-style:solid;
	border-width:6px;
	border-color:transparent;
}
.k-callout-n{
	top:-13px;
	left:50%;
}
.k-callout-w{
	top:50%;
	left:-13px;
}
.k-callout-s{
	left:50%;
	bottom:-13px;
}
.k-callout-e{
	top:50%;
	right:-13px;
}
.k-slider-tooltip .k-callout-n,.k-slider-tooltip .k-callout-s{
	margin-left:-6px;
}
.k-slider-tooltip .k-callout-w,.k-slider-tooltip .k-callout-e{
	margin-top:-6px;
}
.k-tooltip-validation .k-warning{
	vertical-align:text-top;
	margin-right:3px;
}
.k-tooltip-validation{
	z-index:9999;
}
.k-toolbar{
	position:relative;
	display:block;
	vertical-align:middle;
	line-height:2.9em;
}
.k-toolbar .k-button .k-icon,.k-toolbar .k-button .k-sprite,.k-overflow-container .k-button .k-icon,.k-overflow-container .k-button .k-sprite{
	vertical-align:middle;
	margin-top:-7px;
	margin-bottom:-5px;
}
.k-toolbar .k-input{
	line-height:inherit;
	height:inherit;
	padding-top:2px;
	padding-bottom:2px;
}
.k-toolbar .k-combobox .k-dropdown-wrap:before,.k-toolbar .k-picker-wrap:before,.k-toolbar .k-numeric-wrap:before{
	display:none;
}
.k-overflow-container .k-sprite{
	margin-left:-4px;
}
.k-toolbar-resizable{
	overflow:hidden;
	white-space:nowrap;
}
.k-toolbar>.k-align-left{
	float:none;
}
.k-toolbar>.k-align-right{
	float:right;
}
.k-toolbar>*,.k-toolbar .k-button{
	display:inline-block;
	vertical-align:middle;
	line-height:1.72em;
}
.k-toolbar .k-separator{
	border-width:0 0 0 1px;
	border-style:solid;
	width:1px;
	line-height:inherit;
}
.k-toolbar .k-button-group{
	list-style-type:none;
}
.k-toolbar .k-button-group>li{
	display:inline-block;
}
.k-toolbar .k-button-group .k-button{
	margin:0 0 0 -1px;
	border-radius:0;
}
.k-toolbar .k-button,.k-toolbar .k-split-button,.k-toolbar .k-button-group,.k-toolbar .k-widget,.k-toolbar .k-textbox,.k-toolbar label,.k-toolbar .k-separator{
	margin:0 0.2em;
	line-height:1.72em;
	vertical-align:middle;
}
.k-toolbar .k-split-button{
	padding-left:0;
}
.k-toolbar .k-split-button .k-button,.k-toolbar .k-button-group .k-group-start{
	margin:0;
}
.k-toolbar .k-split-button .k-split-button-arrow{
	margin:0 0 0 -1px;
}
.k-toolbar .k-overflow-anchor{
	border-width:0 0 0 1px;
	border-style:solid;
	height:3em;
	width:3em;
	line-height:inherit;
	padding:0 0.5em;
	margin:0;
	position:relative;
	float:right;
	border-radius:0;
}
.k-overflow-container .k-item{
	float:none;
	border:0;
}
.k-overflow-container .k-separator{
	border-width:0 0 1px;
	border-style:solid;
	height:1px;
	line-height:0;
	font-size:0;
	padding:0;
}
.k-overflow-container .k-overflow-button,.k-split-container .k-button{
	text-align:left;
	display:block;
	background:0;
	border-color:transparent;
	white-space:nowrap;
}
.k-split-container{
	margin-top:-1px;
}
.k-overflow-container .k-button-group{
	padding:0;
}
.k-overflow-container .k-button-group>li{
	display:block;
}
.k-overflow-container .k-overflow-group{
	border-width:1px 0;
	border-style:solid;
	border-radius:0;
	padding:2px 0;
	margin:1px 0;
}
.k-overflow-container .k-overflow-hidden{
	display:none;
}
.k-overflow-container .k-toolbar-first-visible,.k-overflow-container .k-overflow-group+.k-overflow-group,.k-overflow-container .k-separator+.k-overflow-group{
	border-top:0;
	margin-top:0;
	padding-top:1px;
}
.k-overflow-container .k-overflow-group+.k-separator{
	display:none;
}
.k-overflow-container .k-toolbar-last-visible{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:1px;
}
.k-splitter{
	position:relative;
	height:300px;
}
.k-pane>.k-splitter{
	border-width:0;
	overflow:hidden;
}
.k-splitter .k-pane{
	overflow:hidden;
}
.k-splitter .k-scrollable{
	overflow:auto;
}
.k-splitter .k-pane-loading{
	position:absolute;
	top:50%;
	left:50%;
	margin:-8px 0 0 -8px;
}
.k-ghost-splitbar,.k-splitbar{
	position:absolute;
	border-style:solid;
	font-size:0;
	outline:0;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-moz-user-select:-moz-none;
	-ms-user-select:none;
	user-select:none;
}
.k-splitter .k-ghost-splitbar-horizontal,.k-splitter .k-splitbar-horizontal{
	top:0;
	width:5px;
	border-width:0 1px;
	background-repeat:repeat-y;
}
.k-ghost-splitbar-vertical,.k-splitbar-vertical{
	left:0;
	height:5px;
	border-width:1px 0;
	background-repeat:repeat-x;
}
.k-splitbar-draggable-horizontal{
	cursor:w-resize;
}
.k-splitbar-draggable-vertical{
	cursor:n-resize;
}
.k-splitbar .k-resize-handle{
	display:none;
}
.k-restricted-size-horizontal,.k-restricted-size-vertical{
	background-color:#F00;
}
.k-splitbar-horizontal .k-icon{
	position:absolute;
	top:50%;
	width:5px;
	height:20px;
	margin-top:-10px;
}
.k-collapse-prev,.k-collapse-next,.k-expand-prev,.k-expand-next{
	cursor:pointer;
}
.k-splitbar-horizontal .k-collapse-prev{
	margin-top:-31px;
}
.k-splitbar-horizontal .k-collapse-next{
	margin-top:11px;
}
.k-splitbar-static-horizontal{
	width:1px;
}
.k-splitbar-static-vertical{
	height:1px;
}
.k-splitbar-vertical .k-icon{
	position:absolute;
	left:50%;
	width:20px;
	height:5px;
	margin-left:-10px;
}
.k-splitbar-vertical .k-collapse-prev{
	margin-left:-31px;
}
.k-splitbar-vertical .k-collapse-next{
	margin-left:11px;
}
.k-splitbar-draggable-vertical .k-resize-handle,.k-splitbar-draggable-horizontal .k-resize-handle{
	display:inline-block;
}
.k-splitbar-horizontal .k-resize-handle{
	background-position:-165px -6px;
}
.k-splitbar-horizontal-hover>.k-resize-handle{
	background-position:-181px -6px;
}
.k-splitbar-horizontal .k-collapse-prev,.k-splitbar-horizontal .k-expand-next{
	background-position:-6px -174px;
}
.k-splitbar-horizontal-hover>.k-collapse-prev,.k-splitbar-horizontal-hover>.k-expand-next{
	background-position:-22px -174px;
}
.k-splitbar-horizontal .k-collapse-next,.k-splitbar-horizontal .k-expand-prev{
	background-position:-5px -142px;
}
.k-splitbar-horizontal-hover>.k-collapse-next,.k-splitbar-horizontal-hover>.k-expand-prev{
	background-position:-21px -142px;
}
.k-splitbar-vertical .k-resize-handle{
	background-position:-38px -309px;
}
.k-splitbar-vertical-hover>.k-resize-handle{
	background-position:-70px -309px;
}
.k-splitbar-vertical .k-collapse-prev,.k-splitbar-vertical .k-expand-next{
	background-position:2px -134px;
}
.k-splitbar-vertical-hover>.k-collapse-prev,.k-splitbar-vertical-hover>.k-expand-next{
	background-position:-14px -134px;
}
.k-splitbar-vertical .k-collapse-next,.k-splitbar-vertical .k-expand-prev{
	background-position:2px -165px;
}
.k-splitbar-vertical-hover>.k-collapse-next,.k-splitbar-vertical-hover>.k-expand-prev{
	background-position:-14px -165px;
}
html .k-upload{
	position:relative;
}
html .k-upload-empty{
	border-width:0;
	background:0;
}
.k-dropzone em,.k-upload-button{
	vertical-align:middle;
}
.k-ie7 .k-dropzone em,.k-ie7 .k-upload-button{
	vertical-align:baseline;
}
.k-dropzone,.k-file{
	position:relative;
}
.k-dropzone{
	border-style:solid;
	border-width:0;
	padding:0.8em;
	background-color:transparent;
}
.k-dropzone em{
	visibility:hidden;
	margin-left:0.6em;
}
.k-dropzone-active em{
	visibility:visible;
}
.k-upload-button{
	position:relative;
	min-width:7.167em;
	overflow:hidden !important;
	direction:ltr;
}
.k-upload-sync .k-upload-button,.k-ie7 .k-upload-button,.k-ie8 .k-upload-button,.k-ie9 .k-upload-button{
	margin:0.8em;
}
.k-upload-button input{
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	font:200px monospace !important;
	filter:alpha(opacity=0);
	opacity:0;
	margin:0;
	padding:0;
	cursor:pointer;
}
.k-upload-files{
	margin:0 0 0.6em;
	line-height:2.66;
	border-style:solid;
	border-width:1px 0 0;
}
.k-upload-files .k-button{
	padding:0;
}
.k-upload-files .k-button,.k-upload-status-total .k-icon{
	margin-left:8px;
}
.k-ie7 .k-upload-files .k-button{
	line-height:1;
}
.k-upload .k-fail{
	background-position:-161px -111px;
}
.k-si-refresh{
	background-position:-160px -128px;
}
.k-link:not(.k-state-disabled):hover>.k-si-refresh,.k-state-hover>.k-si-refresh,.k-state-hover>*>.k-si-refresh,.k-button:hover .k-si-refresh,.k-textbox:hover .k-si-refresh,.k-button:active .k-si-refresh{
	background-position:-176px -128px;
}
.k-si-tick,.k-success{
	background-position:-160px -96px;
}
.k-link:not(.k-state-disabled):hover>.k-si-tick,.k-link:not(.k-state-disabled):hover>.k-success,.k-state-hover>.k-si-tick,.k-state-hover>.k-success,.k-state-hover>*>.k-si-tick,.k-state-hover>*>.k-success,.k-button:hover .k-si-tick,.k-button:hover .k-success,.k-textbox:hover .k-si-tick,.k-textbox:hover .k-success,.k-button:active .k-si-tick,.k-button:active .k-success{
	background-position:-176px -96px;
}
.k-si-cancel{
	background-position:-160px -112px;
}
.k-link:not(.k-state-disabled):hover>.k-si-cancel,.k-state-hover>.k-si-cancel,.k-state-hover>*>.k-si-cancel,.k-button:hover .k-si-cancel,.k-textbox:hover .k-si-cancel,.k-button:active .k-si-cancel{
	background-position:-176px -112px;
}
.k-file{
	border-style:solid;
	border-width:0 0 1px;
	padding:0.167em 0.167em 0.167em 0.8em;
}
.k-file .k-icon{
	position:relative;
}
.k-file>.k-icon{
	background-position:-112px -288px;
}
.k-link:not(.k-state-disabled):hover>.k-file>.k-icon,.k-state-hover>.k-file>.k-icon,.k-state-hover>*>.k-file>.k-icon,.k-button:hover .k-file>.k-icon,.k-textbox:hover .k-file>.k-icon,.k-button:active .k-file>.k-icon{
	background-position:-128px -288px;
}
.k-filename{
	position:relative;
	display:inline-block;
	min-width:10em;
	max-width:16.667em;
	vertical-align:middle;
	margin-left:1em;
	padding-bottom:0.167em;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
}
.k-upload-status{
	position:absolute;
	right:12px;
	top:0.6em;
	line-height:0.7em;
}
.k-upload-status .k-button,.k-upload-status .k-warning{
	vertical-align:text-bottom;
}
.k-dropzone .k-upload-status{
	line-height:2.4;
}
.k-ie8 .k-upload-status-total{
	line-height:29px;
}
.k-progress{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
}
.k-upload-selected{
	min-width:7.167em;
	margin:0.25em 0 0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.k-ie7 .k-upload-selected{
	min-width:100px;
}
.k-upload-selected,.k-upload-cancel{
	margin-bottom:0.8em;
}
.k-upload-selected{
	margin-left:0.8em;
	margin-right:0.2em;
}
.k-toolbar-wrap .k-dropzone em,.k-toolbar-wrap .k-upload-files{
	display:none;
}
.k-toolbar-wrap .k-dropzone{
	border:0;
	padding:0;
}
.k-toolbar-wrap .k-dropzone-active{
	text-align:center;
}
.k-toolbar-wrap .k-dropzone-active em{
	display:inline;
	margin:0;
	font-size:5em;
	font-style:normal;
}
.k-toolbar-wrap .k-dropzone-active .k-upload-button{
	display:none;
}
.k-filebrowser-dropzone{
	z-index:10010;
	filter:alpha(opacity=40);
	opacity:0.4;
	position:fixed;
}
.k-search-wrap{
	position:relative;
	float:right;
	width:20%;
	padding:0;
}
.k-search-wrap label{
	position:absolute;
	top:0;
	left:4px;
	line-height:20px;
	font-style:italic;
}
.k-search-wrap input.k-input{
	padding-left:0;
	padding-right:0;
}
.k-search-wrap .k-search{
	position:absolute;
	top:4px;
	right:2px;
	margin:0;
}
.k-breadcrumbs{
	position:relative;
	float:left;
	width:79%;
}
.k-breadcrumbs-wrap{
	position:absolute;
	top:3px;
	left:0;
	z-index:1;
	padding-left:5px;
	line-height:18px;
}
.k-breadcrumbs>.k-input{
	width:100%;
	font-size:inherit;
	font-family:inherit;
	border:0;
}
.k-breadcrumbs .k-link,.k-breadcrumbs-wrap .k-icon{
	margin-top:0;
	text-decoration:none;
	vertical-align:middle;
	position:static;
}
.k-breadcrumbs .k-link:hover{
	text-decoration:underline;
}
.k-filebrowser .k-breadcrumbs .k-i-seek-w{
	text-decoration:none;
	cursor:default;
}
.k-filebrowser .k-filebrowser-toolbar{
	border-style:solid;
	border-width:1px;
	margin:8px 0 0;
	padding:0.25em;
	line-height:23px;
	white-space:nowrap;
}
.k-filebrowser .k-filebrowser-toolbar .k-button.k-state-disabled{
	display:none;
}
.k-filebrowser .k-toolbar-wrap{
	float:left;
}
.k-filebrowser .k-tiles-arrange{
	float:right;
}
.k-filebrowser .k-tiles-arrange .k-dropdown{
	width:75px;
}
.k-filebrowser .k-upload{
	float:left;
	z-index:10010;
	border-width:0;
	background-color:transparent;
}
.k-filebrowser .k-upload .k-upload-status{
	display:none;
}
.k-filebrowser .k-upload .k-upload-button{
	width:auto;
	margin-left:0;
	vertical-align:top;
}
.k-filebrowser .k-upload .k-icon{
	vertical-align:bottom;
}
.k-ie7 .k-filebrowser .k-upload-button,.k-ie7 .k-filebrowser .k-upload .k-icon{
	vertical-align:baseline;
	position:relative;
	top:1px;
}
.k-ie7 .k-filebrowser .k-upload .k-icon{
	top:2px;
}
